trigger:
  branches:
    include:
      - main

variables:
  NODE_ENV: 'prod'
  NODE_PORT: '3001'
  IMAGE_NAME: 'test-api'
  ACR_NAME: 'registryConnection'
  TAG: '1.0.0'

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: Docker@2
  inputs:
    containerRegistry: '$(ACR_NAME)'
    repository: '$(IMAGE_NAME)'
    command: 'buildAndPush'
    Dockerfile: '**/Dockerfile'
    tags: |
      $(TAG)